<div class="row justify-content-center pt-3">
  <div class="col-10">
    <div class="card">
      <div class="card-header"> Én vagyok a cica</div>
      <div class="card-body">
        <img src="assets/project-image-4.jpg" alt="Cica" class="card-img-top">
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat erat ex, ac ullamcorper nisi commodo vitae. Praesent tempus ut tortor et maximus. Suspendisse interdum vitae metus sit amet iaculis. Etiam efficitur tellus id sapien eleifend egestas. Suspendisse fermentum purus et sapien egestas, sed volutpat mi aliquet. Sed volutpat eget lacus non feugiat. Integer nec nulla lacinia, vulputate eros vel, ornare ante. Maecenas eget lectus ex. Etiam vulputate nunc id urna blandit, eu aliquet ligula iaculis. Mauris tempus varius tristique. Proin facilisis a elit quis cursus. Praesent interdum nunc dignissim, dignissim nulla quis, semper lectus. Integer justo mi, dictum ac enim eu, placerat sagittis metus. Etiam eleifend lectus leo, et suscipit mi sagittis ut.

        Vestibulum egestas volutpat nibh ut scelerisque. Nunc varius nunc metus, a consequat leo aliquam sed. Aenean aliquet tortor pharetra sodales tempor. Suspendisse ultrices sit amet dui non tincidunt. Phasellus non ipsum at massa tincidunt accumsan. Sed lobortis convallis elit. Maecenas sapien nisi, mollis in sem sed, accumsan varius ipsum. Mauris eget finibus diam. Pellentesque nunc tellus, imperdiet non tellus vitae, egestas euismod dolor. Vestibulum posuere metus vitae nisi malesuada molestie. Integer scelerisque et tellus vel sagittis. Nullam maximus vehicula ante ac bibendum.
      </div>
    </div>
  </div>
</div>
