<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <app-navbar-item ></app-navbar-item>
        <app-navbar-item ></app-navbar-item>
        <app-navbar-item ></app-navbar-item>
        <app-navbar-item ></app-navbar-item>
      </div>
    </div>
  </div>
</nav>
