<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button"
            (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="isCollapsed">
      <div class="navbar-nav ml-auto">
        <app-navbar-item *ngFor="let item of navbarItem" [navbarItem]="item">
        </app-navbar-item>
      </div>
    </div>
  </div>
</nav>
