<div class="row justify-content-center">
  <div class="col-10">
    <div class="card" >
      <div class="card-body">
        <img class="downloads-img" src="assets/project-image-6.jpg" alt="Card image cap">
        <div class="downloads-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat erat ex, ac ullamcorper nisi commodo vitae. Praesent tempus ut tortor et maximus. Suspendisse interdum vitae metus sit amet iaculis. Etiam efficitur tellus id sapien eleifend egestas. Suspendisse fermentum purus et sapien egestas, sed volutpat mi aliquet. Sed volutpat eget lacus non feugiat. Integer nec nulla lacinia, vulputate eros vel, ornare ante. Maecenas eget lectus ex. Etiam vulputate nunc id urna blandit, eu aliquet ligula iaculis. Mauris tempus varius tristique. Proin facilisis a elit quis cursus. Praesent interdum nunc dignissim, dignissim nulla quis, semper lectus. Integer justo mi, dictum ac enim eu, placerat sagittis metus. Etiam eleifend lectus leo, et suscipit mi sagittis ut.
        </div>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <img class="downloads-img" src="assets/project-image-6.jpg" alt="Card image cap">
        <div class="downloads-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat erat ex, ac ullamcorper nisi commodo vitae. Praesent tempus ut tortor et maximus. Suspendisse interdum vitae metus sit amet iaculis. Etiam efficitur tellus id sapien eleifend egestas. Suspendisse fermentum purus et sapien egestas, sed volutpat mi aliquet. Sed volutpat eget lacus non feugiat. Integer nec nulla lacinia, vulputate eros vel, ornare ante. Maecenas eget lectus ex. Etiam vulputate nunc id urna blandit, eu aliquet ligula iaculis. Mauris tempus varius tristique. Proin facilisis a elit quis cursus. Praesent interdum nunc dignissim, dignissim nulla quis, semper lectus. Integer justo mi, dictum ac enim eu, placerat sagittis metus. Etiam eleifend lectus leo, et suscipit mi sagittis ut.
        </div>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <img class="downloads-img" src="assets/project-image-6.jpg" alt="Card image cap">
        <div class="downloads-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat erat ex, ac ullamcorper nisi commodo vitae. Praesent tempus ut tortor et maximus. Suspendisse interdum vitae metus sit amet iaculis. Etiam efficitur tellus id sapien eleifend egestas. Suspendisse fermentum purus et sapien egestas, sed volutpat mi aliquet. Sed volutpat eget lacus non feugiat. Integer nec nulla lacinia, vulputate eros vel, ornare ante. Maecenas eget lectus ex. Etiam vulputate nunc id urna blandit, eu aliquet ligula iaculis. Mauris tempus varius tristique. Proin facilisis a elit quis cursus. Praesent interdum nunc dignissim, dignissim nulla quis, semper lectus. Integer justo mi, dictum ac enim eu, placerat sagittis metus. Etiam eleifend lectus leo, et suscipit mi sagittis ut.
        </div>
      </div>
    </div>
  </div>
</div>
