<div class="row">
  <div class="col-12">
    <ul class="hexGrid">
      <li class="hex">
        <a class="hexIn" href="#">
          <img src="assets/project-image-1.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </li>
      <li class="hex">
        <a class="hexIn" href="#">
          <img src="assets/project-image-4.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </li>
      <li class="hex">
        <a class="hexIn" href="#">
          <img src="assets/project-image-1.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </li>
      <li class="hex">
        <a class="hexIn" href="#">
          <img src="assets/project-image-5.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </li>
      <li class="hex">
        <a class="hexIn" href="#">
          <img src="assets/project-image-3.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </li>
      <li class="hex">
        <a class="hexIn" href="#">
          <img src="assets/project-image-4.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </li>
      <li class="hex">
        <a class="hexIn" href="#">
          <img src="assets/project-image-5.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </li>
    </ul>
  </div>

</div>

<!--
<div class="row">
  <div class="col-12">
    <ul [ngClass]="{'hexGrid': items}">
      <li [ngClass]="{'hex': items}" *ngFor="let item of items">
        <a [ngClass]="{'hexIn': items}" href="#">
          <img [src]="item.pictureUrl" alt="" />
          <h1>{{item.name}}</h1>
          <p>{{item.description}}</p>
        </a>
      </li>

    </ul>
  </div>

</div>
-->


