<div class="row">
  <div class="col-12">
    <div class="hexGrid">
      <div class="hex" *ngFor="let item of itemsFirstRow">
        <a class="hexIn" [routerLink]="item.linkUrl">
          <img [src]="item.pictureUrl" alt="" />
          <h1>{{item.name}}</h1>
          <p>{{item.description}}</p>
        </a>
      </div>
      <div class="hexGrid2">
        <div class="hex" *ngFor="let item of itemsSecondRow">
          <a class="hexIn" [routerLink]="item.linkUrl">
            <img [src]="item.pictureUrl" alt="" />
            <h1>{{item.name}}</h1>
            <p>{{item.description}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


